## Name: Devshekhar Pattnaik
## Reg No: 19BCE1292
## Slot: L1+2

# <center><u>ML Lab-10 </u></center>

In [3]:
import pandas as pd

In [4]:
#Reading the data
data = pd.read_csv('car_evaluation.csv')
header=['buying','maint_cost','total_doors','seater','boot_space','safety','decision']
data.columns=header
data.head()

  buying maint_cost total_doors seater boot_space safety decision
0  vhigh      vhigh           2      2      small    med    unacc
1  vhigh      vhigh           2      2      small   high    unacc
2  vhigh      vhigh           2      2        med    low    unacc
3  vhigh      vhigh           2      2        med    med    unacc
4  vhigh      vhigh           2      2        med   high    unacc

In [39]:
# describe output column
data.decision.value_counts()

unacc    1209
acc       384
good       69
vgood      65
Name: decision, dtype: int64

In [5]:
# splitting the data into output and input

X=data.drop('decision',axis=1)

#selecting only target variable
Y=data['decision']

print(X.shape,Y.shape)

(1727, 6) (1727,)

In [6]:
pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in c:\users\devshekhar\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\devshekhar\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\devshekhar\anaconda3\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\devshekhar\anaconda3\lib\site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\devshekhar\anaconda3\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\devshekhar\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\devshekhar\anaconda3\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\devshekhar\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\devshekhar\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in c:\users\devshekhar\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\devshekhar\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\devshekhar\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# converting objects to integers
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=['buying','maint_cost','total_doors','seater','boot_space','safety'])
x= encoder.fit_transform(X)

In [8]:
print(x.head())
print(x.shape)

   buying  maint_cost  total_doors  seater  boot_space  safety
0       1           1            1       1           1       1
1       1           1            1       1           1       2
2       1           1            1       1           2       3
3       1           1            1       1           2       1
4       1           1            1       1           2       2
(1727, 6)

In [9]:
# Change of dataset
print('Original dataset')
print('\n\n',X.head())
print('\n Encoded dataset')
print('\n',x.head())

Original dataset


   buying maint_cost total_doors seater boot_space safety
0  vhigh      vhigh           2      2      small    med
1  vhigh      vhigh           2      2      small   high
2  vhigh      vhigh           2      2        med    low
3  vhigh      vhigh           2      2        med    med
4  vhigh      vhigh           2      2        med   high

 Encoded dataset

    buying  maint_cost  total_doors  seater  boot_space  safety
0       1           1            1       1           1       1
1       1           1            1       1           1       2
2       1           1            1       1           2       3
3       1           1            1       1           2       1
4       1           1            1       1           2       2

In [10]:
# splitting train and test of data
from sklearn.model_selection import train_test_split

x_1,xtest,y_1,ytest=train_test_split(x,Y,test_size=0.3,random_state=10)

In [11]:
# Using classifier (KNN)
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_1,y_1)
y_predict = model.predict(xtest)

In [12]:
# Output of prediction
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,y_predict))
pd.crosstab(ytest, y_predict)

0.9364161849710982

col_0     acc  good  unacc  vgood
decision
acc       114     0      9      0
good        4    10      2      0
unacc       6     0    352      0
vgood       7     3      2     10

In [14]:
pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.1-py3-none-any.whl (189 kB)
Requirement already satisfied: joblib>=0.11 in c:\users\devshekhar\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\devshekhar\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\devshekhar\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.6.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\devshekhar\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.20.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\devshekhar\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.8.1 imblearn-0.0
Note: you may need to restart the kernel to use updated packages.

### SMOTE

In [15]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [16]:
X_train_smote, y_train_smote = smote.fit_resample(x_1.astype('float'),y_1)

In [17]:
from collections import Counter
print("Before:", Counter(y_1))
print("After:", Counter(y_train_smote))

Before: Counter({'unacc': 851, 'acc': 261, 'good': 53, 'vgood': 43})
After: Counter({'unacc': 851, 'acc': 851, 'good': 851, 'vgood': 851})

In [18]:
model.fit(X_train_smote, y_train_smote)
y_predict = model.predict(xtest)
print(accuracy_score(ytest, y_predict))
pd.crosstab(ytest, y_predict)

0.9344894026974951

col_0     acc  good  unacc  vgood
decision
acc       106     9      7      1
good        0    16      0      0
unacc       9     1    347      1
vgood       4     2      0     16

### Over Sampling

In [21]:
from sklearn.utils import resample

In [19]:
#creating new dataframes of equal samples


df_1 = data[data.decision == "unacc"]
df_2 = data[data.decision == "acc"]
df_3 = data[data.decision == "good"]
df_4 = data[data.decision == "vgood"]

In [22]:
df_1_new = resample(df_1, replace = True, n_samples = 839, random_state=10)
df_2_new = resample(df_2, replace = True, n_samples = 839, random_state=10)
df_3_new = resample(df_3, replace = True, n_samples = 839, random_state=10)
df_4_new = resample(df_4, replace = True, n_samples = 839, random_state=10)

In [23]:
df_unsampled = pd.concat([df_1_new, df_2_new, df_3_new, df_4_new])
df_unsampled.decision.value_counts()

unacc    839
good     839
acc      839
vgood    839
Name: decision, dtype: int64

In [24]:
X=df_unsampled.drop('decision',axis=1)

#selecting only target variable
Y=df_unsampled['decision']

print(X.shape,Y.shape)

(3356, 6) (3356,)

In [25]:
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=['buying','maint_cost','total_doors','seater','boot_space','safety'])
x= encoder.fit_transform(X)

In [26]:
print('Original dataset')
print('\n\n',X.head())
print('\n Encoded dataset')
print('\n',x.head())

Original dataset


      buying maint_cost total_doors seater boot_space safety
1621    low        low           2      2      small   high
625    high       high       5more      2        med   high
1619    low        low           2      2      small    low
1674    low        low           4      2      small    med
932     med      vhigh           4      4        big    low

 Encoded dataset

       buying  maint_cost  total_doors  seater  boot_space  safety
1621       1           1            1       1           1       1
625        2           2            2       1           2       1
1619       1           1            1       1           1       2
1674       1           1            3       1           1       3
932        3           3            3       2           3       2

In [27]:
from sklearn.model_selection import train_test_split

x_1,xtest,y_1,ytest=train_test_split(x,Y,test_size=0.3,random_state=10)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_1,y_1)
y_predict = model.predict(xtest)

In [29]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,y_predict))
pd.crosstab(ytest, y_predict)

0.8510427010923535

col_0     acc  good  unacc  vgood
decision
acc       190    44      5     25
good        5   230      0      0
unacc      49    12    177     10
vgood       0     0      0    260

### Under Sampling

In [30]:
# creating dataframes of equal number of samples


df_1 = data[data.decision == "unacc"]
df_2 = data[data.decision == "acc"]
df_3 = data[data.decision == "good"]
df_4 = data[data.decision == "vgood"]

In [31]:
df_1_new = resample(df_1, replace = True, n_samples = 65, random_state=10)
df_2_new = resample(df_2, replace = True, n_samples = 65, random_state=10)
df_3_new = resample(df_3, replace = True, n_samples = 65, random_state=10)
df_4_new = resample(df_4, replace = True, n_samples = 65, random_state=10)

In [32]:
df_unsampled = pd.concat([df_1_new, df_2_new, df_3_new, df_4_new])
df_unsampled.decision.value_counts()

unacc    65
vgood    65
acc      65
good     65
Name: decision, dtype: int64

In [33]:
X=df_unsampled.drop('decision',axis=1)

#selecting only target variable
Y=df_unsampled['decision']

print(X.shape,Y.shape)

(260, 6) (260,)

In [34]:
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=['buying','maint_cost','total_doors','seater','boot_space','safety'])
x= encoder.fit_transform(X)

In [35]:
print('Original dataset')
print('\n\n',X.head())
print('\n Encoded dataset')
print('\n',x.head())

Original dataset


      buying maint_cost total_doors seater boot_space safety
1621    low        low           2      2      small   high
625    high       high       5more      2        med   high
1619    low        low           2      2      small    low
1674    low        low           4      2      small    med
932     med      vhigh           4      4        big    low

 Encoded dataset

       buying  maint_cost  total_doors  seater  boot_space  safety
1621       1           1            1       1           1       1
625        2           2            2       1           2       1
1619       1           1            1       1           1       2
1674       1           1            3       1           1       3
932        3           3            3       2           3       2

In [36]:
from sklearn.model_selection import train_test_split

x_1,xtest,y_1,ytest=train_test_split(x,Y,test_size=0.3,random_state=10)

In [37]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_1,y_1)
y_predict = model.predict(xtest)

In [38]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,y_predict))
pd.crosstab(ytest, y_predict)

0.6410256410256411

col_0     acc  good  unacc  vgood
decision
acc        11     1      0      4
good        3    12      0      2
unacc       8     4      8      2
vgood       3     1      0     19